<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/8a0344b1-221e-4e2b-96af-c511e2e6685a/resourceGroups/PushDemoApp/providers/Microsoft.Web/sites/PushDemoAppApi0</ResourceId>
    <ResourceGroup>PushDemoApp</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://pushdemoappapi0.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>pushdemoappapi0.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PushDemoAppApi0</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$PushDemoAppApi0</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>